<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationExercise Suite" parallel="classes" thread-count="4">
    <test verbose="2" preserve-order="true" name="All Test Cases">
        <classes>
            <class name="testcases.CartTest"/>
            <class name="testcases.CategoryTest"/>
            <class name="testcases.ContactUsTest"/>
            <class name="testcases.HomeTest"/>
            <class name="testcases.LoginTest"/>
            <class name="testcases.LogOutTest"/>
            <class name="testcases.OrderTest"/>
            <class name="testcases.ProductTest"/>
            <class name="testcases.ProductViewDetailTest"/>
            <class name="testcases.RegisterTest"/>
            <class name="testcases.TestcaseTest"/>
        </classes>
    </test>
</suite>
